/* CSS Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Custom CSS */
html {
  font-family: Sans-Serif;
  font-weight: normal;
  background-color: #fafafa;
  color: #000;
}

body,
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2
}

h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.1;
  margin: 0 auto 1.875rem;
}

h3 {
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
  margin-bottom: 0;
}