/* CSS Reset */
html, body, header, nav, h1, h2, h3, a,
ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Custom CSS */
html {
  font-family: Sans-Serif;
  font-weight: normal;
  background-color: #fafafa;
  color: #000;
}

body,
button,
input,
select,
textarea {
  /* set defaults */
  font-family: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

p {
  line-height: 1.25;
  font-size: 1.125rem;
}

h1, h2, h3 {
  font-weight: 600;
  line-height: 1.1;
  /* top horizontal bottom */
  margin: 0 auto 1.875rem;
}

h1, h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 2.25rem;
}

@media only screen and (min-width: 62rem) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

.class-detail-instructor-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  align-items: baseline;
  justify-content: space-between;
  text-align: left;
  margin-top: 20px;
}
.class-detail-instructor-top > div {
  margin-right: 50px;
}

.class-detail-instructor-bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  align-items: baseline;
  text-align: left;
  margin-top: 20px;
}
.class-detail-instructor-bottom > div {
  margin-right: 50px;
}
.class-detail-name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  align-items: baseline;
  justify-content: space-between;
  text-align: left;
}
.formWrapper {
  background-color: white;
}
.formWrapper-end {
  background-color: white;
  height: 100vh;
}

/* Class Time date styling */
.classtime {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.classtime h5 {
  margin: 0;
  padding: 0;
}
.classtime-date {
  font-size: 1.5rem;
}
.classtime-index-item {
  margin-bottom: 1.875rem;
}


.filter-chip {
  position: relative;
  width: 0;
}
.filter-popup {
  visibility: hidden;
  height: 0;
}
.filter-popup-open {
  position: absolute;
  top: 50px;
  left: 30px;
  visibility: visible;
  z-index: 100;
}

/* Homepage styling */
.hero {
  position: relative;
}
.homepage-hero-links {
  top: 5rem;
  left: -5rem;
  position: absolute;
  width: 18rem;
  padding: 30px 0;
  z-index: 200;
  background-color: #fafafa;
  line-height: 2;
}
.homepage-hero-links li {
  font-weight: 400;
  cursor: pointer;
}
.homepage-hero-links li:hover {
  text-decoration-line: underline;
  text-decoration-color: #d31334;
  text-decoration-thickness: 3px;
}
.homepage-hero-paragraph {
  text-align: right;
  line-height: 1.5;
  font-size: 1rem;
}
.hero-image-container {
  text-align: left;
}
.homepage-hero-cta {
  position: relative;
}

@media only screen and (min-width: 62rem) {
  .hero-image-container {
    position: relative;
    text-align: right;
  }
  .homepage-hero-cta {
    position: absolute;
    top: 80%;
    left: 80%;
  }
}

/* SVG logo styling */
.cls-1 {
  fill :#fff;
}
.cls-2 {
  fill:#db2659;
}

/* Using Material UI Autocomplete */
.myTagging {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px 5px 0;
  height: 45px;
}
.myTagging:hover {
  border: 1px solid #000;
  cursor: text;
}
.myTagging input {
  width: 100%;
}
.myTagging ul {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0;
  padding: 0;
  width: 100%;
}