.spinner-container {
  display: grid;
  place-items: center;
}

/* Adapted from https://codepen.io/EastingAndNorthing/pen/aNWrZz */
.loadingspinner {
  pointer-events: none;
  width: 5em;
  height: 5em;
  border: 0.4em solid transparent;
  border-color: #eee;
  border-top-color: #d31334;
  border-radius: 50%;
  -webkit-animation: loadingspin 1s linear infinite;
          animation: loadingspin 1s linear infinite;
}

@-webkit-keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}